<html>
<!-- In quessto index utilizzeremo script javascript 
     e ilmetodo fetch per inviare richieste alserver e ottenere risposte che vengono gestite
     dal  client. è un metodo asincrono, quindila pagina all'invio del form non sara
     ricaricata -->

<head>
    <title>Todo app</title>
    <style>
        .hidden {
            display: none;
        }
        
        ul {
            list-style: none;
            padding: 6px;
            margin: 6px;
        }
    </style>

</head>

<body>
    <h1>TO-DO List</h1>
    <form id="form">
        <label for="description>">Insert a description</label>
        <input type="text" name="description" id="description">
        <input type="submit" value="Insert">
    </form>
    <!-- inseriamo un messaggio di errore nel caso in cui
         non la chiamta ajax non risulti-->
    <div id="error" class="hidden">Something was wrong!</div>
    <ul id="todos">
        <!-- qui stiamo utilizzando un ciclo for con jinja
             rispetto all'ultima versoine abbiamo aggiunto una condizione if con jinja
             la sintassi prevede che nelle dichiarazioni (eg. for, if ecc..) si utilizza
             [graffaPercentuale ] per indicare la fine del loop si usa la parola chiave 'end' attaccata 
             al nome della dichiarazione  end[senza spazzi]for (purtroppo non si può mettere il codice perchè jinja legge tutto)
             Mentre per definire le varibili utiliziamo le doppie graffe {{ variabile }}
             Nella condizione if che stiamo oriportando possimao notare che la key-word 'checked'
             utilizzata nel codice html non è racchoiuisa tra le parentesi ( perchè non è una varibile python)
             ma viene stamapata a video solo se la condizine dell'if è vera.
             Inmaniera ciclica viene inserito un attributo data-id che contiene il valore id dell'item al quale si riferisce
             questo ci serve in modo da ottenere l'id dell'item nell'app.py  da aggiornare-->
        {% for d in data %}
        <li id="{{d.id}}">
            <input type="checkbox" class="check-completed" data-id="{{d.id}}" {% if d.completed %} checked {% endif %} />{{d.description}}
            <button class="del_btn" data-id="{{d.id}}">&times;</button>
        </li>
        {% endfor %}
    </ul>
    <script>
        /// di seguito abbiamo lo script per inviare nel databse e ricevere dal databse un nuovo item ///
        document.getElementById('form').onsubmit = function(e) {
                e.preventDefault(); //questo non fa ricaricare la pagina cheè il comportamento di default
                fetch('/todos/create', {
                        method: 'POST', // qui abbiamo definito la route e il method che nel file precedente si trovavano all' interno del tag <form>
                        body: JSON.stringify({
                            'description': document.getElementById('description').value //nel corpo definiamo la variabile che voliamo passare
                        }),
                        headers: {
                            'Content-Type': 'application/json' //qui semplicemente definiamo l'headers per dirgli che il file è json
                        }
                    })
                    .then(function(response) {
                        return response.json(); // qui recuperiamo la risposta inizialmente come stringa che diventa json
                    })
                    .then(function(jsonResponse) {
                        // qua inizia l'handler per manipolare le risposte del server
                        // prima lofacevano con il file python adesso gestiamo tutto dal client
                        console.log(jsonResponse);
                        const liItem = document.createElement('LI'); // step1: creaimo un elemento <li> da aggiungere alla lista
                        liItem.id = jsonResponse['id'];
                        //costruzione della check box RIUSCITA
                        var inputCheckBox = document.createElement('input');
                        inputCheckBox.setAttribute("type", "checkbox");
                        inputCheckBox.dataset.id = jsonResponse['id'];
                        inputCheckBox.className = 'check-completed'

                        //bottone delete
                        var btnDel = document.createElement('button');
                        btnDel.className = 'del_btn'
                        btnDel.dataset.id = jsonResponse['id'];
                        btnDel.innerHTML = '&times;'

                        // step2: definiamo il valore da stampare sul <li>
                        document.getElementById('todos').appendChild(liItem); //step3: aggiungiamo il valore alla lista
                        liItem.appendChild(inputCheckBox);
                        var textnode = document.createTextNode(jsonResponse['description']);
                        liItem.appendChild(textnode);
                        liItem.appendChild(btnDel);
                        document.getElementById('error').className = 'hidden';
                        document.getElementById('description').value = '';

                    })
                    .then(function() {
                        /// il seguente script invia lo stato di checked al database se
                        /// l'utente spunta la casella'
                        const checkboxes = document.querySelectorAll('.check-completed'); // abbimao aggiunto una classe css per poter selezionare le check-box
                        for (let i = 0; i < checkboxes.length; i++) { //qui facciamo un ciclo per su tutte le check box
                            const checkbox = checkboxes[i]; // qui definiamo la variabile
                            checkbox.onchange = function(e) {
                                console.log('evente', e); // questo ci permette di vedere il valore la variabile target e il valore che gli viene impostato
                                const newCompleted = e.target.checked; // dalla console del browswer abbiamo visto che quando si clicca sulla caseela di controllo
                                // al metodo checked viene assegnato true mentre quando viene deselezionata gli viene assegnato il valore false

                                const todoId = e.target.dataset['id']; // prendiamo il valore dell'id della riga da cambiare

                                fetch('/todos/' + todoId + '/set-completed', { // qui faccimao un classico invio di dati con il metodo fetch di ajax
                                        method: 'POST',
                                        body: JSON.stringify({
                                            'completed': newCompleted, // questa volta inviamo il valore di true o false per l'item della lista

                                        }),
                                        headers: {
                                            'Content-Type': 'application/json'
                                        }
                                    })
                                    .then(function() {
                                        document.getElementById('error').className = 'hidden';
                                    })

                                .catch(function() { //con questa funzione possiamo visualizzare se qualcosa va storto durante la chiamata ajax fetch()
                                    document.getElementById('error').className = '';
                                })

                            }

                        }
                    })
                    .then(function() {
                        // di seguito lo script per cancellare gli item dalla lista
                        const delBoxes = document.querySelectorAll('.del_btn'); // abbimao aggiunto una classe css per poter selezionare le check-box
                        for (let i = 0; i < delBoxes.length; i++) { //qui facciamo un ciclo per su tutte le check box
                            const delBox = delBoxes[i]; // qui definiamo la variabile
                            delBox.onclick = function(e) {
                                console.log('evente', e); // questo ci permette di vedere il valore la variabile target e il valore che gli viene impostato
                                const deletedItem = e.target.dataset['id'];
                                //console.log(newCompleted) // un print giusto per vedere che gli stiamo assegnando

                                fetch('/todos/item_del', { // qui faccimao un classico invio di dati con il metodo fetch di ajax
                                        method: 'POST',
                                        body: JSON.stringify({
                                            'deletedItem': deletedItem, // questa volta inviamo il valore dell'id dell'item da cancellare

                                        }),
                                        headers: {
                                            'Content-Type': 'application/json'
                                        }
                                    })
                                    .then(function() {
                                        document.getElementById('error').className = 'hidden';
                                        document.getElementById(deletedItem).remove();
                                    })
                                    .catch(function() { //con questa funzione possiamo visualizzare se qualcosa va storto durante la chiamata ajax fetch()
                                        document.getElementById('error').className = '';
                                    })

                            }

                        }
                    })
                    .catch(function() { //con questa funzione possiamo visualizzare se qualcosa va storto durante la chiamata ajax fetch()
                        document.getElementById('error').className = '';
                    })
            }
            // di seguito lo script per cancella gli item dalla lista
        const delBoxes = document.querySelectorAll('.del_btn'); // abbimao aggiunto una classe css per poter selezionare le check-box
        for (let i = 0; i < delBoxes.length; i++) { //qui facciamo un ciclo per su tutte le check box
            const delBox = delBoxes[i]; // qui definiamo la variabile
            delBox.onclick = function(e) {
                console.log('evente', e); // questo ci permette di vedere il valore la variabile target e il valore che gli viene impostato
                const deletedItem = e.target.dataset['id'];
                //console.log(newCompleted) // un print giusto per vedere che gli stiamo assegnando

                fetch('/todos/item_del', { // qui faccimao un classico invio di dati con il metodo fetch di ajax
                        method: 'POST',
                        body: JSON.stringify({
                            'deletedItem': deletedItem, // questa volta inviamo il valore dell'id dell'item da cancellare

                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(function() {
                        document.getElementById('error').className = 'hidden';
                        document.getElementById(deletedItem).remove();
                    })
                    .catch(function() { //con questa funzione possiamo visualizzare se qualcosa va storto durante la chiamata ajax fetch()
                        document.getElementById('error').className = '';
                    })

            }

        }
    </script>
</body>

</html>