<html>
<!-- In quessto index utilizzeremo script javascript 
     e ilmetodo fetch per inviare richieste alserver e ottenere risposte che vengono gestite
     dal  client. è un metodo asincrono, quindila pagina all'invio del form non sara
     ricaricata -->

<head>
    <title>Todo app</title>
    <style>
        body {
            font-size: 25px;
        }
        
        .hidden {
            display: none;
        }
        
        .list-wrapper {
            background-color: rgba(237, 118, 014, 0.12);
        }
        
        .todos-wrapper {
            background-color: rgba(255, 118, 014, 0.12);
        }
        
        .list-wrapper,
        .todos-wrapper {
            display: inline-block;
            padding: 6px;
            margin: 6px;
            width: 400px;
            vertical-align: top;
            text-align: center;
        }
        
        .list-wrapper {
            background-color: rgba(148, 156, 123, 0.12);
        }
        
        ul {
            list-style: none;
        }
        
        li {
            clear: both;
            margin: 4px;
            padding: 2px;
            background-color: rgba(126, 234, 123, 0.12);
            border-radius: 15px;
            text-align: left;
        }
        
        .del_btn,
        .delCategory_btn {
            -webkit-appearance: none;
            border: none;
            outline: none;
            color: red;
            float: right;
            cursor: pointer;
            font-size: 30px;
            background-color: transparent;
        }
    </style>

</head>

<body>
    <h1>TO-DO List</h1>

    <div class="list-wrapper">
        <form id="formList">

            <input type="text" name="category" id="category" placeholder="Add new category">

            <input type="submit" value="Insert">

        </form>
        <ul id="todosCategory">
            {% for it in lists %}
            <li>
                <input type="checkbox" class="checkTodosTitlesCompleted" data-id="{{ it.id }}">
                <a href="/list/{{ it.id }}">{{ it.title }}</a>
                <button class="delCategory_btn" data-id="{{it.id}}">&cross;</button>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="todos-wrapper">
        <form id="form">
            <h4>{{ active_category.title }}</h4>
            <input type="text" name="description" id="description" placeholder="Add new TODO" data-category='{{ active_category.id}}'>
            <input type="submit" value="Insert">
        </form>
        <!-- inseriamo un messaggio di errore nel caso in cui
         non la chiamta ajax non risulti-->
        <div id="error" class="hidden">Something was wrong!</div>
        <ul id="todos">
            <!-- qui stiamo utilizzando un ciclo for con jinja
             rispetto all'ultima versoine abbiamo aggiunto una condizione if con jinja
             la sintassi prevede che nelle dichiarazioni (eg. for, if ecc..) si utilizza
             [graffaPercentuale ] per indicare la fine del loop si usa la parola chiave 'end' attaccata 
             al nome della dichiarazione  end[senza spazzi]for (purtroppo non si può mettere il codice perchè jinja legge tutto)
             Mentre per definire le varibili utiliziamo le doppie graffe {{ variabile }}
             Nella condizione if che stiamo oriportando possimao notare che la key-word 'checked'
             utilizzata nel codice html non è racchoiuisa tra le parentesi ( perchè non è una varibile python)
             ma viene stamapata a video solo se la condizine dell'if è vera.
             Inmaniera ciclica viene inserito un attributo data-id che contiene il valore id dell'item al quale si riferisce
             questo ci serve in modo da ottenere l'id dell'item nell'app.py  da aggiornare-->
            {% for d in data %}
            <li id="{{d.id}}">
                <input type="checkbox" class="check-completed" data-id="{{d.id}}" {% if d.completed %} checked {% endif %} />{{d.description}}
                <button class="del_btn" data-id="{{d.id}}">&cross;</button>
            </li>
            {% endfor %}
        </ul>
    </div>
    <script>
        /// di seguito abbiamo lo script per inviare nel databse e ricevere dal databse un nuovo item ///
        document.getElementById('form').onsubmit = function(e) {
                e.preventDefault(); //questo non fa ricaricare la pagina cheè il comportamento di default
                fetch('/todos/create', {
                        method: 'POST', // qui abbiamo definito la route e il method che nel file precedente si trovavano all' interno del tag <form>
                        body: JSON.stringify({
                            'description': document.getElementById('description').value, //nel corpo definiamo la variabile che voliamo passare
                            'todo_title_id': document.getElementById('description').dataset.category
                        }),
                        headers: {
                            'Content-Type': 'application/json' //qui semplicemente definiamo l'headers per dirgli che il file è json
                        }
                    })
                    .then(function(response) {
                        return response.json(); // qui recuperiamo la risposta inizialmente come stringa che diventa json
                    })
                    .then(function(jsonResponse) {
                        // qua inizia l'handler per manipolare le risposte del server
                        // prima lofacevano con il file python adesso gestiamo tutto dal client
                        console.log(jsonResponse);
                        const liItem = document.createElement('LI'); // step1: creaimo un elemento <li> da aggiungere alla lista
                        liItem.id = jsonResponse['id'];
                        //costruzione della check box RIUSCITA
                        var inputCheckBox = document.createElement('input');
                        inputCheckBox.setAttribute("type", "checkbox");
                        inputCheckBox.dataset.id = jsonResponse['id'];
                        inputCheckBox.className = 'check-completed'

                        //bottone delete
                        var btnDel = document.createElement('button');
                        btnDel.className = 'del_btn'
                        btnDel.dataset.id = jsonResponse['id'];
                        btnDel.innerHTML = '&cross;'

                        // step2: definiamo il valore da stampare sul <li>
                        document.getElementById('todos').appendChild(liItem); //step3: aggiungiamo il valore alla lista
                        liItem.appendChild(inputCheckBox);
                        var textnode = document.createTextNode(jsonResponse['description']);
                        liItem.appendChild(textnode);
                        liItem.appendChild(btnDel);
                        document.getElementById('error').className = 'hidden';
                        document.getElementById('description').value = '';

                    })
                    .then(function() {
                        /// this script send a status true or false if
                        /// user check the box just created
                        const checkboxes = document.querySelectorAll('.check-completed'); // abbimao aggiunto una classe css per poter selezionare le check-box
                        for (let i = 0; i < checkboxes.length; i++) { //qui facciamo un ciclo per su tutte le check box
                            const checkbox = checkboxes[i]; // qui definiamo la variabile
                            checkbox.addEventListener('change', function(e) {
                                handlerAddDel.checkedItem(e, 'set-completed');
                            });

                        }
                    })
                    .then(function() {
                        // di seguito lo script per cancellare gli item dalla lista
                        const delBoxes = document.querySelectorAll('.del_btn'); // abbimao aggiunto una classe css per poter selezionare le check-box
                        for (let i = 0; i < delBoxes.length; i++) { //qui facciamo un ciclo per su tutte le check box
                            const delBox = delBoxes[i]; // qui definiamo la variabile
                            delBox.onclick = function(e) {
                                console.log('evente', e); // questo ci permette di vedere il valore la variabile target e il valore che gli viene impostato
                                const deletedItem = e.target.dataset['id'];
                                //console.log(newCompleted) // un print giusto per vedere che gli stiamo assegnando

                                fetch('/todos/item_del', { // qui faccimao un classico invio di dati con il metodo fetch di ajax
                                        method: 'POST',
                                        body: JSON.stringify({
                                            'deletedItem': deletedItem, // questa volta inviamo il valore dell'id dell'item da cancellare

                                        }),
                                        headers: {
                                            'Content-Type': 'application/json'
                                        }
                                    })
                                    .then(function() {
                                        document.getElementById('error').className = 'hidden';
                                        document.getElementById(deletedItem).remove();
                                    })
                                    .catch(function() { //con questa funzione possiamo visualizzare se qualcosa va storto durante la chiamata ajax fetch()
                                        document.getElementById('error').className = '';
                                    })

                            }

                        }
                    })
                    .catch(function() { //con questa funzione possiamo visualizzare se qualcosa va storto durante la chiamata ajax fetch()
                        document.getElementById('error').className = '';
                    })
            }
            // di seguito lo script per cancella gli item dalla lista
        const delBoxes = document.querySelectorAll('.del_btn'); // abbimao aggiunto una classe css per poter selezionare le check-box
        for (let i = 0; i < delBoxes.length; i++) { //qui facciamo un ciclo per su tutte le check box
            const delBox = delBoxes[i]; // qui definiamo la variabile
            delBox.onclick = function(e) {
                console.log('evente', e); // questo ci permette di vedere il valore la variabile target e il valore che gli viene impostato
                const deletedItem = e.target.dataset['id'];
                //console.log(newCompleted) // un print giusto per vedere che gli stiamo assegnando

                fetch('/todos/item_del', { // qui faccimao un classico invio di dati con il metodo fetch di ajax
                        method: 'POST',
                        body: JSON.stringify({
                            'deletedItem': deletedItem, // questa volta inviamo il valore dell'id dell'item da cancellare

                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(function() {
                        document.getElementById('error').className = 'hidden';
                        document.getElementById(deletedItem).remove();
                    })
                    .catch(function() { //con questa funzione possiamo visualizzare se qualcosa va storto durante la chiamata ajax fetch()
                        document.getElementById('error').className = '';
                    })

            }

        }


        // this script works only with existing element and
        // doesn't work with new item
        const checkboxes = document.querySelectorAll('.check-completed'); // abbimao aggiunto una classe css per poter selezionare le check-box
        for (let i = 0; i < checkboxes.length; i++) { //qui facciamo un ciclo per su tutte le check box
            const checkbox = checkboxes[i];
            //with the following function we pass the status of checked or unchecked
            checkbox.addEventListener('change', function(e) {
                handlerAddDel.checkedItem(e, 'set-completed');
            });
        }

        // With this object we can pass the status of 'checked' to an Item 
        var handlerAddDel = {
                checkedItem: function(e, whereRoot) {
                    console.log('evente', e); // questo ci permette di vedere il valore la variabile target e il valore che gli viene impostato
                    const newCompleted = e.target.checked; // dalla console del browswer abbiamo visto che quando si clicca sulla caseela di controllo
                    // al metodo checked viene assegnato true mentre quando viene deselezionata gli viene assegnato il valore false

                    const todoId = e.target.dataset['id']; // prendiamo il valore dell'id della riga da cambiare

                    fetch('/todos/' + todoId + '/' + whereRoot, { // qui imposto la root per app.py
                            method: 'POST',
                            body: JSON.stringify({
                                'completed': newCompleted, // questa volta inviamo il valore di true o false per l'item della lista

                            }),
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                        .then(function() {
                            document.getElementById('error').className = 'hidden';
                        })

                    .catch(function() { //con questa funzione possiamo visualizzare se qualcosa va storto durante la chiamata ajax fetch()
                        document.getElementById('error').className = '';
                    })

                },
                delItem: function(e, whereRoot) {
                    console.log('evente', e); // questo ci permette di vedere il valore la variabile target e il valore che gli viene impostato
                    const deletedItem = e.target.dataset['id'];
                    //console.log(newCompleted) // un print giusto per vedere che gli stiamo assegnando

                    fetch('/todos/' + whereRoot, { // qui faccimao un classico invio di dati con il metodo fetch di ajax
                            method: 'POST',
                            body: JSON.stringify({
                                'deletedItem': deletedItem, // questa volta inviamo il valore dell'id dell'item da cancellare

                            }),
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                        .then(function() {
                            document.getElementById('error').className = 'hidden';
                            document.getElementById(deletedItem).remove();
                        })
                        .catch(function() { //con questa funzione possiamo visualizzare se qualcosa va storto durante la chiamata ajax fetch()
                            document.getElementById('error').className = '';
                        })

                }
            }
            //  with this script we add a new title category
        document.getElementById('formList').onsubmit = function(e) {
            e.preventDefault(); //questo non fa ricaricare la pagina cheè il comportamento di default
            fetch('/todos_titles/create', {
                    method: 'POST', // qui abbiamo definito la route e il method che nel file precedente si trovavano all' interno del tag <form>
                    body: JSON.stringify({
                        'title': document.getElementById('category').value, //nel corpo definiamo la variabile che voliamo passare

                    }),
                    headers: {
                        'Content-Type': 'application/json' //qui semplicemente definiamo l'headers per dirgli che il file è json
                    }
                })
                .then(function(response) {
                    return response.json(); // qui recuperiamo la risposta inizialmente come stringa che diventa json
                })
                .then(function(jsonResponse) {
                    // qua inizia l'handler per manipolare le risposte del server
                    // prima lofacevano con il file python adesso gestiamo tutto dal client
                    console.log(jsonResponse);
                    const liItem = document.createElement('LI'); // step1: creaimo un elemento <li> da aggiungere alla lista
                    liItem.id = jsonResponse['id'];
                    //costruzione della check box RIUSCITA
                    var inputCheckBox = document.createElement('input');
                    inputCheckBox.setAttribute("type", "checkbox");
                    inputCheckBox.dataset.id = jsonResponse['id'];
                    inputCheckBox.className = 'checkTodosTitlesCompleted'

                    //bottone delete
                    var btnDel = document.createElement('button');
                    btnDel.className = 'del_btn'
                    btnDel.dataset.id = jsonResponse['id'];
                    btnDel.innerHTML = '&cross;'

                    // step2: definiamo il valore da stampare sul <li>
                    document.getElementById('todosCategory').appendChild(liItem); //step3: aggiungiamo il valore alla lista
                    liItem.appendChild(inputCheckBox);
                    var textnode = document.createTextNode(jsonResponse['title']);
                    var a = document.createElement('a');
                    a.appendChild(textnode);
                    a.title = textnode;
                    a.href = '/list/' + jsonResponse['id'];
                    liItem.appendChild(a);
                    liItem.appendChild(btnDel);
                    document.getElementById('error').className = 'hidden';
                    document.getElementById('description').value = '';

                })
                .catch(function() { //con questa funzione possiamo visualizzare se qualcosa va storto durante la chiamata ajax fetch()
                    document.getElementById('error').className = '';
                })
        }

        // her the script to check if the item's list are completed
        const categoryCheckboxes = document.querySelectorAll('.checkTodosTitlesCompleted'); // abbimao aggiunto una classe css per poter selezionare le check-box
        for (let i = 0; i < categoryCheckboxes.length; i++) { //qui facciamo un ciclo per su tutte le check box
            const categoryCheckbox = categoryCheckboxes[i];
            //with the following function we pass the argument e for the event
            // and the path for app.root
            categoryCheckbox.addEventListener('change', function(e) {
                // with this update the model
                handlerAddDel.checkedItem(e, 'set-categoryCompleted');
                // with this update the view
                checkedItems();
            });
        }

        // with the following function we change the checked status
        function checkedItems() {
            var checkBoxes = document.querySelectorAll('.check-completed');
            for (let i = 0; i < checkboxes.length; i++) {
                checkbox = checkboxes[i];
                // the following sign checked the items
                checkbox.checked = true;

            }
        }
        //with this function we deletethe category list
        const delCategoryBoxes = document.querySelectorAll('.delCategory_btn'); // abbimao aggiunto una classe css per poter selezionare le check-box
        for (let i = 0; i < delCategoryBoxes.length; i++) {
            delCategoryBox = delCategoryBoxes[i];
            delCategoryBox.addEventListener('click', function(e) {
                handlerAddDel.delItem(e, 'del_category') // app.route => todos/del_category
            })
        }
    </script>
</body>

</html>